{% extends "base.html" %}
{% block title %}Book Categories{% endblock %}

{% block content %}
<style>
    div#table1_filter {
        float: right;
    }

    .btn-icon {
        width: 26px;
        height: 25px;
    }

    .dataTable {
        width: 100% !important;
    }
</style>
<div class="az-content-body pd-lg d-flex flex-column">
    <div class="az-content-breadcrumb">
        <span>Dashboard</span>
        <span>Transaction</span>
        <span>Borrow Books</span>
    </div>
    <h2 class="az-content-title">Borrow Books</h2>

    {% include "response.html" %}

    <div class="card card-dashboard-five mb-3">
        <div class="card-header">
            <div class="row row-xs">
                <div class="col-sm-2">
                    <a class="btn btn-dark btn-with-icon" onclick="addBorrowBookModal()">
                        <i class="typcn typcn-plus"></i> Borrow a Book
                    </a>
                </div>
            </div>
        </div><!-- card-header -->
        <div class="card-body row row-sm">
            <div class="table-responsive">
                <table class="table table-bordered mg-b-0" id="table1">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Borrower</th>
                            <th>Date Borrowed</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div><!-- card-body -->
    </div>


    <div class="az-footer mg-t-auto">
        <div class="container">
            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © LMS</span>
            <!-- <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"><a href="https://juancoder.com"
                    target="_blank">Juancode IT Solutions</a></span> -->
        </div><!-- container -->
    </div><!-- az-footer -->
</div><!-- az-content-body -->


<div class="modal fade" id="addBorrowBookModal" tabindex="-1" aria-labelledby="addBorrowBookModalTitle"
    aria-hidden="true" style="display: none;">
    <div class="modal-dialog" role="document" style="max-width: 80% !important;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addBorrowBookModalTitle">Borrow Books <span id="borrowed_status"></span>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-x">
                        <line x1="18" y1="6" x2="6" y2="18"></line>
                        <line x1="6" y1="6" x2="18" y2="18"></line>
                    </svg>
                </button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-4" id="books_borrow" style="display:none;">
                        <div class="form-group">
                            <p class="mg-b-10">Borrower <span class="text-danger">*</span></p>
                            <select class="form-control" name="borrower" id="borrower" required
                                style="width: 100% !important; border-radius: 0px !important; border: 1px solid #cdd4e0 !important;color: #596882 !important; padding: 0.375rem 0.75rem !important;font-size: 0.875rem !important;font-weight: 400 !important;line-height: 1.5 !important;">
                                <option label="Choose one"></option>
                                {% for user in users %}
                                <option value="{{ user.id }}">
                                    {{ user.fname +" "+ user.mname +" "+user.lname }}
                                </option>
                                {% endfor %}
                            </select>

                        </div>
                        <div class="form-group">
                            <label>Date Borrowed <span class="text-danger">*</span></label>
                            <input type="date" class="form-control" name="date_borrowed" id="date_borrowed" required
                                autocomplete="off" />
                        </div>
                        <button type="submit" class="btn btn-primary ml-1 float-right" onclick="saveBorrowHeader()"
                            id="save_header_btn">
                            <i class=" bx bx-check d-block d-sm-none"></i>
                            <span class="d-none d-sm-block">Save changes</span>
                        </button>
                    </div>
                    <div class="col-4" id="books_recommendation" style="display:none;">
                        <div class="az-content-breadcrumb">
                            <span>Top 5 Recommendations</span>
                        </div>
                        <div class="row" id="recommended_books">
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="row">
                            <input type="hidden" id="borrow_header_id">
                            <div class="col-12 pb-2" style="border-bottom: 1px dashed #cdd4e0 ;"
                                id="add_borrow_detail_section">
                                <div class="row">
                                    <div class="col-4">
                                        <select class="form-control" name="selected_book" id="selected_book" required
                                            style="width: 100% !important; border-radius: 0px !important; border: 1px solid #cdd4e0 !important;color: #596882 !important; padding: 0.375rem 0.75rem !important;font-size: 0.875rem !important;font-weight: 400 !important;line-height: 1.5 !important;">
                                            <option label="Choose one" value=""></option>
                                            {% for book in books %}
                                            <option value="{{ book.book_id }}">
                                                {{ book.book_title }}
                                            </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-3">
                                        <input type="number" class="form-control" placeholder="Qty" name="book_qty"
                                            id="book_qty" required autocomplete="off" />
                                    </div>
                                    <div class="col-3">
                                        <a class="btn btn-success btn-with-icon" id="add_book_btn"
                                            onclick="addBorrowDetail()">
                                            <i class="typcn typcn-plus"></i> Add Book
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mt-2">
                                <div class="table-responsive">
                                    <table class="table table-bordered mg-b-0" id="table2">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Book</th>
                                                <th>Qty</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script>
    $(function() {
        $("#add_borrow_detail_section").hide();
        loadBorrowData();

        $('.select2').select2({
            placeholder: 'Choose one',
            searchInputPlaceholder: 'Search'
        });

        $('.fc-datepicker').datepicker({
            showOtherMonths: true,
            selectOtherMonths: true
        });
    });

    function addBorrowBookModal() {
        $("#borrower").val("");
        $("#date_borrowed").val("");
        $("#selected_book").val("");
        $("#book_qty").val("");
        $("#borrow_header_id").val("");

        $("#borrower").prop("disabled", false);
        $("#date_borrowed").prop("disabled", false);
        $("#save_header_btn").show();
        $("#add_borrow_detail_section").hide();

        // loadBorrowDetailData(0);
        $('#table2').DataTable().clear();
        $('#table2').DataTable().destroy();
        // $("#table2").DataTable({"paging": false});
        
        $("#books_borrow").show();
        $("#books_recommendation").hide();

        $("#addBorrowBookModal").modal('show')
    }

    function deleteBorrowedBook(borrowId) {
        Swal.fire({
            title: "Are you sure?",
            text: "Are you sure you want to delete this item?",
            icon: "warning",
            showCancelButton: true,
            confirmButtonClass: "btn-danger",
            confirmButtonText: "Yes, delete!",
            cancelButtonText: "No, cancel!",
        }).then(function(result) {
            if (result.value) {
                fetch("/books/borrow/destroy", {
                    method: "POST",
                    body: JSON.stringify({ borrowId: borrowId })
                }).then((_res) => {
                    window.location.href = "/books/borrow";
                });
            }
        });
    }

    function saveBorrowHeader() {
        var borrower = $("#borrower").val();
        var date_borrowed = $("#date_borrowed").val();
        if (borrower == '' || date_borrowed == '') {
            Swal.fire(
                'Hold On!',
                'Please check required field',
                'warning'
            )
        } else {
            fetch("/books/borrow/store", {
                method: "POST",
                body: JSON.stringify({ borrower: borrower, date_borrowed: date_borrowed })
            })
                .then(data => data.json())
                .then(json => {
                    $("#borrow_header_id").val(json.header_id);
                    $("#borrower").prop("disabled", true);
                    $("#date_borrowed").prop("disabled", true);
                    $("#save_header_btn").hide();

                    $("#add_borrow_detail_section").show();    
                    $("#books_borrow").hide();
                    $("#books_recommendation").show();
                    loadRecommendations(borrower);
                    loadBorrowData();
                });
        }
    }

    function addBorrowDetail() {
        var selected_book_id = $("#selected_book").val();
        var book_qty = $("#book_qty").val();
        var borrow_header_id = $("#borrow_header_id").val();

        if (selected_book_id == '' || book_qty == '') {
            Swal.fire(
                'Hold On!',
                'Please check required field',
                'warning'
            )
        } else {
            fetch("/books/borrow/detail/store", {
                method: "POST",
                body: JSON.stringify({ selected_book_id: selected_book_id, book_qty: book_qty, borrow_header_id: borrow_header_id })
            })
                .then(data => data.json())
                .then(json => {
                    // window.location.href = "/books";
                    if (json.response == 1) {
                        // refresh the table
                        loadBorrowDetailData(borrow_header_id);
                    } else {
                        Swal.fire(
                            'Error!',
                            'Error in executing query.',
                            'danger'
                        )
                    }
                });
        }
    }

    function loadBorrowDetailData(id) {
        $('#table2').DataTable().destroy();
        $("#table2").DataTable({
            "paging": false,
            "processing": true,
            "ajax": {
                url: "/books/borrow/detail/data",
                dataSrc: 'data',
                type: 'POST',
                data: {
                    borrowId: id
                },
                serverSide: true,
            },
            "columns": [{
                data: 'count'
            },
            {
                data: 'book'
            },
            {
                data: 'qty'
            },
            {
                "mRender": function(data, type, row) {
                    return '<div class="btn-icon-list"><button class="btn btn-danger btn-icon btn-sm" onClick="deleteBorrowedDetailItem(' + row.borrow_detail_id + ')"><i class=" typcn typcn-trash"></i></button></div>';
                }
            }
            ]
        });
    }

    function loadBorrowData() {
        $('#table1').DataTable().destroy();
        $("#table1").DataTable({
            "paging": false,
            "processing": true,
            "ajax": {
                url: "/books/borrow/data",
                dataSrc: 'data',
                type: 'POST',
                serverSide: true,
            },
            "columns": [{
                data: 'count'
            },
            {
                data: 'borrower'
            },
            {
                data: 'date_borrowed'
            },
            {
                data: 'status'
            },
            {
                "mRender": function(data, type, row) {
                    return '<div class="btn-icon-list"><button class="btn btn-danger btn-icon btn-sm" onClick="deleteBorrowedBook(' + row.borrow_id + ')"><i class=" typcn typcn-trash"></i></button><button class="btn btn-primary btn-icon btn-sm" onClick="borrowedBookDetail(' + row.borrow_id + ')"><i class=" typcn typcn-edit"></i></button></div>';
                }
            }
            ]
        });
    }

    function borrowedBookDetail(id) {
        loadBorrowDetailData(id);
        fetch("/books/borrow/detail/edit", {
            method: "POST",
            body: JSON.stringify({ id: id })
        })
            .then(data => data.json())
            .then(json => {
                $("#borrower").val(json.data.user_id);
                $("#date_borrowed").val(json.data.date_borrowed);
                $("#borrowed_status").html("(" + json.data.status + ")");
                $("#borrow_header_id").val(id);
                $("#borrower").prop("disabled", true);
                $("#date_borrowed").prop("disabled", true);
                $("#save_header_btn").hide();
                $("#add_borrow_detail_section").show();
                $("#books_borrow").hide();
                $("#books_recommendation").show();
                loadRecommendations(json.data.user_id);

                $("#addBorrowBookModal").modal('show');
            });
    }

    function deleteBorrowedDetailItem(detailId) {
        Swal.fire({
            title: "Are you sure?",
            text: "Are you sure you want to delete this item?",
            icon: "warning",
            showCancelButton: true,
            confirmButtonClass: "btn-danger",
            confirmButtonText: "Yes, delete!",
            cancelButtonText: "No, cancel!",
        }).then(function(result) {
            if (result.value) {
                fetch("/books/borrow/detail/destroy", {
                    method: "POST",
                    body: JSON.stringify({ detailId: detailId })
                }).then((_res) => {
                    var header_id = $("#borrow_header_id").val();
                    loadBorrowDetailData(header_id);
                });
            }
        });
    }

    function loadRecommendations(user_id){
        fetch("/books/recommendations", {
            method: "POST",
            body: JSON.stringify({ user_id: user_id })
        })
        .then(data => data.json())
        .then(json => {
            console.log(json);
            var books = "";
            for (var i = 0; i < json.data.length; i++) {
                const book_row = json.data[i];
                var cover = book_row.book_cover_img == "" ? "/static/assets/img/default_book_cover.jpg" :book_row.book_cover_img;
                books += '<div class="col-4 mt-3" onclick="clickRecommended('+book_row.book_id+')">'+
                    '<label>'+book_row.book_title+'</label>'+
                    '<img src="'+cover+'" style="height: 120px; width: 80px; object-fit: cover;">'+
                '</div>';
            }
            $("#recommended_books").html(books);
        });
    }
    function clickRecommended(id){
        $("#selected_book").val(id);
    }
</script>

<script src="{{ url_for('static', filename='assets/lib/datatables.net-bs/js/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/lib/datatables.net-bs/js/dataTables.bootstrap4.min.js') }}"></script>
{% endblock %}