{% extends "base.html" %}
{% block title %}Books{% endblock %}

{% block content %}
<style>
    div#table1_filter {
        float: right;
    }
</style>
<div class="az-content-body pd-lg d-flex flex-column">
    <div class="az-content-breadcrumb">
        <span>Dashboard</span>
        <span>Masterdata</span>
        <span>Books</span>
    </div>
    <h2 class="az-content-title">Books</h2>


    {% include "response.html" %}

    <div class="card card-dashboard-five mb-3">
        <div class="card-header">
            <div class="row row-xs">
                <div class="col-sm-2">
                    <a class="btn btn-dark btn-with-icon" data-toggle="modal" data-target="#addBooksModal">
                        <i class="typcn typcn-plus"></i> Add Books
                    </a>
                </div>
            </div>
        </div><!-- card-header -->
        <div class="card-body row row-sm">
            <div class="table-responsive">
                <table class="table table-bordered mg-b-0" id="table1">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th class="text-center">Cover</th>
                            <th>Books</th>
                            <th>Category</th>
                            <th>ISBN</th>
                            <th>Year Published</th>
                            <th>In Shelf</th>
                            <th>Location</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for book in books %}
                        <tr>
                            <td style="width: 15px;">{{ loop.index }}</td>
                            <td style="width: 100px; text-align: center;">
                                {% if book.book_cover_img == "" %}
                                <img src="{{ url_for('static', filename='assets/img/default_book_cover.jpg') }}"
                                    style="height: 120px; width: 80px; object-fit: cover;">
                                {% else %}
                                <img src="{{ book.book_cover_img }}"
                                    style="height: 120px; width: 80px; object-fit: cover;">
                                {% endif %}
                            </td>
                            <td>{{ book.book_title }}</td>
                            <td>{{ book.book_category }}</td>
                            <td>{{ book.book_isbn }}</td>
                            <td>{{ book.book_year_published }}</td>
                            <td>{{ book.onshelf }}</td>
                            <td>{{ book.book_location }}</td>
                            <td>
                                <div class="btn-icon-list">
                                    <button class="btn btn-danger btn-icon btn-sm"
                                        onClick="deleteBook({{ book.book_id }})">
                                        <i class=" typcn typcn-trash"></i>
                                    </button>

                                    <button class="btn btn-primary btn-icon btn-sm"
                                        onClick="editBook({{ book.book_id }})">
                                        <i class=" typcn typcn-edit"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div><!-- card-body -->
    </div>


    <div class="az-footer mg-t-auto">
        <div class="container">
            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © LMS</span>
            <!--  <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"><a href="https://juancoder.com"
                    target="_blank">Juancode IT Solutions</a></span> -->
        </div><!-- container -->
    </div><!-- az-footer -->
</div><!-- az-content-body -->


<div class="modal fade" id="addBooksModal" tabindex="-1" aria-labelledby="addBooksModalTitle" aria-hidden="true"
    style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addBooksModalTitle">Add Book</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-x">
                        <line x1="18" y1="6" x2="6" y2="18"></line>
                        <line x1="6" y1="6" x2="18" y2="18"></line>
                    </svg>
                </button>
            </div>
            <form method="POST" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label>Title <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" name="title" required autocomplete="off" />
                            </div>
                            <div class="form-group">
                                <label>Author <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" name="author" required autocomplete="off" />
                            </div>
                            <div class="form-group">
                                <label>Publisher Name <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" name="publisher_name" required
                                    autocomplete="off" />
                            </div>
                            <div class="form-group">
                                <label>Category <span class="text-danger">*</span></label>
                                <select class="form-control" name="category" required>
                                    <option label="Choose one"></option>
                                    {% for category in categories %}
                                    <option value="{{ category.book_category_id }}">{{ category.book_category }}
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label>ISBN <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" name="isbn" required autocomplete="off" />
                            </div>
                            <div class="form-group">
                                <label>Year Published <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" name="year_published" required
                                    autocomplete="off" />
                            </div>
                            <div class="form-group">
                                <label>QTY <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" name="quantity" required autocomplete="off" />
                            </div>
                            <div class="form-group">
                                <label>Price <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" name="price" required autocomplete="off" />
                            </div>
                            <div class="form-group">
                                <label>Cover Image </label>
                                <input type="file" class="form-control" name="cover_image" />
                            </div>
                            <div class="form-group">
                                <label>Location <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" name="location" required autocomplete="off" />
                            </div>
                            <div class="form-group">
                                <label>Accession Number <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" name="accession_num" required autocomplete="off" />
                            </div>
                            <div class="form-group">
                                <label>Call number <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" name="call_number" required autocomplete="off" />
                            </div>
                            <div class="form-group">
                                <label>DDC <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" name="ddc" required autocomplete="off" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-secondary" data-dismiss="modal">
                        <i class="bx bx-x d-block d-sm-none"></i>
                        <span class="d-none d-sm-block">Close</span>
                    </button>

                    <button type="submit" class="btn btn-dark ml-1">
                        <i class=" bx bx-check d-block d-sm-none"></i>
                        <span class="d-none d-sm-block">Save changes</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="editBooksModal" tabindex="-1" aria-labelledby="editBooksModalTitle" aria-hidden="true"
    style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addBooksModalTitle">Edit Book</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-x">
                        <line x1="18" y1="6" x2="6" y2="18"></line>
                        <line x1="6" y1="6" x2="18" y2="18"></line>
                    </svg>
                </button>
            </div>
            <form method="POST" enctype="multipart/form-data" id="updateBookForm">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <input type="hidden" id="edit_book_id" name="edit_book_id">
                            <div class="form-group">
                                <label>Title <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="edit_title" name="edit_title" required autocomplete="off" />
                            </div>
                            <div class="form-group">
                                <label>Author <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="edit_author" name="edit_author" required autocomplete="off" />
                            </div>
                            <div class="form-group">
                                <label>Publisher Name <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="edit_publisher_name" name="edit_publisher_name" required
                                    autocomplete="off" />
                            </div>
                            <div class="form-group">
                                <label>Category <span class="text-danger">*</span></label>
                                <select class="form-control" id="edit_category" name="edit_category" required>
                                    <option label="Choose one"></option>
                                    {% for category in categories %}
                                    <option value="{{ category.book_category_id }}">{{ category.book_category }}
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label>ISBN <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="edit_isbn" name="edit_isbn" required autocomplete="off" />
                            </div>
                            <div class="form-group">
                                <label>Year Published <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="edit_year_published" name="edit_year_published" required
                                    autocomplete="off" />
                            </div>
                            <div class="form-group">
                                <label>QTY <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="edit_quantity" name="edit_quantity" required autocomplete="off" />
                            </div>
                            <div class="form-group">
                                <label>Price <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="edit_price" name="edit_price" required autocomplete="off" />
                            </div>
                            <div class="form-group">
                                <label>Cover Image </label>
                                <div style="display: flex; flex-direction: row; align-items: flex-end;">
                                    <span id="edit_book_cover"></span>
                                    <input type="file" class="form-control" id="edit_cover_image" name="edit_cover_image"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Location <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="edit_location" name="edit_location" required autocomplete="off" />
                            </div>
                            <div class="form-group">
                                <label>Accession Number <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="edit_accession_num" name="edit_accession_num" required autocomplete="off" />
                            </div>
                            <div class="form-group">
                                <label>Call number <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="edit_call_number" name="edit_call_number" required autocomplete="off" />
                            </div>
                            <div class="form-group">
                                <label>DDC <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="edit_ddc" name="edit_ddc" required autocomplete="off" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-secondary" data-dismiss="modal">
                        <i class="bx bx-x d-block d-sm-none"></i>
                        <span class="d-none d-sm-block">Close</span>
                    </button>

                    <button type="submit" class="btn btn-dark ml-1">
                        <i class=" bx bx-check d-block d-sm-none"></i>
                        <span class="d-none d-sm-block">Save changes</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(function() {
        $("#table1").DataTable();

       
        $("#updateBookForm").submit(function(event) {
            event.preventDefault();
            var formData = new FormData(this);

            fetch("/books/update", {
                method: "POST",
                body: formData
            })
            .then(data => data.json())
            .then(json => {
                // window.location.href = "/books";
            });
        });
    });

    function deleteBook(bookId) {
        Swal.fire({
            title: "Are you sure?",
            text: "Are you sure you want to delete this item?",
            icon: "warning",
            showCancelButton: true,
            confirmButtonClass: "btn-danger",
            confirmButtonText: "Yes, delete!",
            cancelButtonText: "No, cancel!",
        }).then(function(result) {
            if (result.value) {
                fetch("/books/destroy", {
                    method: "POST",
                    body: JSON.stringify({ bookId: bookId })
                })
                    .then(data => data.json())
                    .then(json => {
                        window.location.href = "/books";
                    });
            }
        });
    }

    function editBook(book_id) {
        fetch("/books/edit", {
            method: "POST",
            body: JSON.stringify({ book_id: book_id })
        })
        .then(data => data.json())
        .then(json => {
            var bdata = json.data[0];
            var book_cover = "";

            $("#edit_cover_image").val("");
            $("#edit_book_id").val(book_id);
            $("#edit_title").val(bdata.book_title);
            $("#edit_author").val(bdata.book_author);
            $("#edit_publisher_name").val(bdata.book_publisher_name);
            $("#edit_category").val(bdata.book_category_id);
            $("#edit_price").val(bdata.book_price);
            $("#edit_isbn").val(bdata.book_isbn);
            $("#edit_year_published").val(bdata.book_year_published);
            $("#edit_quantity").val(bdata.book_qty);
            $("#edit_location").val(bdata.book_location);
            $("#edit_accession_num").val(bdata.book_accession_num);
            $("#edit_call_number").val(bdata.book_call_number);
            $("#edit_ddc").val(bdata.book_ddc);

            if (bdata.book_cover_img == ""){
                book_cover = "<img src='{{ url_for('static', filename='assets/img/default_book_cover.jpg') }}' style='width: 50px; object-fit: cover;'>";
            }else{
                 book_cover = "<img src='"+bdata.book_cover_img+"' style='width: 50px; object-fit: cover;'>"
            }

            $("#edit_book_cover").html(book_cover);

            $("#editBooksModal").modal('show');
        });
    }

    function updateBook() {
        Swal.fire({
            title: "Are you sure?",
            text: "Are you sure you want to update this book?",
            icon: "warning",
            showCancelButton: true,
            confirmButtonClass: "btn-danger",
            confirmButtonText: "Yes, update!",
            cancelButtonText: "No, cancel!",
        }).then(function(result) {
            if (result.value) {

                var formData = new FormData();
                formData.append('edit_book_id', $("#edit_book_id").val());
                formData.append('edit_cover_image', $("#edit_cover_image")[0].files[0]);
                formData.append('edit_title', $("#edit_title").val());
                formData.append('edit_author', $("#edit_author").val());
                formData.append('edit_publisher_name', $("#edit_publisher_name").val());
                formData.append('edit_category', $("#edit_category").val());
                formData.append('edit_price', $("#edit_price").val());
                formData.append('edit_isbn', $("#edit_isbn").val());
                formData.append('edit_year_published', $("#edit_year_published").val());
                formData.append('edit_quantity', $("#edit_quantity").val());
                formData.append('edit_location', $("#edit_location").val());
                formData.append('edit_accession_num', $("#edit_accession_num").val());
                formData.append('edit_call_number', $("#edit_call_number").val());
                formData.append('edit_ddc', $("#edit_ddc").val());

                console.log($("#edit_book_id").val());

                fetch("/books/update", {
                    method: "POST",
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    },
                    body: formData
                })
                    .then(data => data.json())
                    .then(json => {
                        // window.location.href = "/books";
                    });
            }
        });
    }
</script>

<script src="{{ url_for('static', filename='assets/lib/datatables.net-bs/js/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/lib/datatables.net-bs/js/dataTables.bootstrap4.min.js') }}"></script>
{% endblock %}