{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="az-content-body">
    {% include "response.html" %}
    <div class="az-dashboard-one-title">
        <div>
            <h1>Hi, welcome back!</h1>
            <!-- <p class="az-dashboard-text">Your analytics dashboard.</p> -->
        </div>
    </div><!-- az-dashboard-one-title -->
    <div class="row mg-b-20">
        <div class="col-12" id="books_recommendation">
            <h3>Top 5 Recommendations</h3>
            <div class="row" id="recommended_books">

            </div>
        </div>
    </div>

    <div class="az-footer mg-t-auto">
        <div class="container">
            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © LMS</span>
            <!-- <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"><a href="https://juancoder.com"
                    target="_blank">Juancode IT Solutions</a></span> -->
        </div><!-- container -->
    </div><!-- az-footer -->

</div><!-- az-content-body -->
<style>
    .book-details {
        padding: 9px;
        font-size: 14px;
        font-weight: 600;
        display: flex;
        flex-direction: column;
    }

    .book-desc {
        font-size: 12px;
        font-weight: 500;
    }

    .book-ratings {
        font-size: 12px;
    }

    .hoverBook:hover > .hoverDt {
        background-color: #00000014;
    }

    .avgrating {
        font-size: 6px;
        align-items: baseline !important;
    }
</style>
<script type="text/javascript">
    loadRecommendations({{user.id}});
    function loadRecommendations(user_id){
        fetch("/books/recommendations", {
            method: "POST",
            body: JSON.stringify({ user_id: user_id })
        })
        .then(data => data.json())
        .then(json => {
            var books = "";
            var books_with_avg = {};
            for (var i = 0; i < json.data.length; i++) {
                const book_row = json.data[i];
                const avgBook = (book_row.avg_rating > 0)?(parseFloat(book_row.avg_rating)).toFixed(1):0;
                var cover = book_row.book_cover_img == "" ? "/static/assets/img/default_book_cover.jpg" :book_row.book_cover_img;

                books += '<div class="col-md-3 mt-2 d-flex hoverBook"><img src="'+cover+'" style="border-radius: 3px;height: 100%; width: 112px; object-fit: fill;"><div class="bd rounded hoverDt" style="width: 100%;"><div class="book-details"><span>'+book_row.book_title+'</span><span class="book-desc">'+book_row.book_author+' ('+book_row.book_year_published+')</span><span class="book-desc">'+book_row.book_call_number+'</span><span class="book-desc">Borrows: '+book_row.borrows+'</span><span class="book-desc">On shelf: '+book_row.onshelf+'</span><span class="book-desc">Rating: '+avgBook+'/5</span><div class="avgrating" id="avgrating'+book_row.book_id+'"></div><div class="book-ratings mt-1 mb-2"><span class="badge badge-secondary" style="font-size: 11px; font-weight: 400;">'+book_row.book_category+'</span></div></div></div></div>';

                books_with_avg[book_row.book_id] = avgBook;
            }
            $("#recommended_books").html(books);

            for (const book_id in books_with_avg) {
                const avg_rating = books_with_avg[book_id];

                $('#avgrating'+book_id).starRating({
                    starIconEmpty:'typcn typcn-star-outline',
                    starIconFull:'typcn typcn-star',
                    starSize: 0.5,
                    showInfo: false,
                    stars: 5,
                    setStar: avg_rating
                });
            }
        });
    }
</script>
{% endblock %}