{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="az-content-body">
    {% include "response.html" %}
   <!--  <div class="az-dashboard-one-title">
        <div>
            <h1>Books</h1>
        </div>
    </div> -->
    <!-- az-dashboard-one-title -->
    <div class="row mg-b-20">
        <div class="col-12" id="search_books">
            <!-- <div class="row"> -->
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <input type="text" class="form-control" name="search_bar" id="search_bar" placeholder="Search books" autocomplete="off" onkeyup="searchForBook()">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-12">
                   <select class="form-control" name="category" id="category" required="" onchange="searchForBook()">
                        <option value="">- all categories -</option>
                        
                        <option value="1">Mystery
                        </option>
                        
                        <option value="2">Romance
                        </option>
                        
                        <option value="3">Fantasy
                        </option>
                        
                        <option value="4">Thriller
                        </option>
                        
                        <option value="5">Sci-Fi
                        </option>
                        
                        <option value="9">Adventure
                        </option>
                        
                        <option value="10">Historical fiction
                        </option>
                        
                        <option value="11">Horror
                        </option>
                        
                        <option value="12">Poetry
                        </option>
                        
                    </select>
                </div>
            <!-- </div> -->
        </div>
    </div>
    <div class="row mg-b-20">
        <div class="col-12" id="books_recommendation">
            <h4></h4>
            <div class="row" id="recommended_books">

            </div>
        </div>
    </div>

    <div class="az-footer mg-t-auto">
        <div class="container">
            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © LMS</span>
            <!-- <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"><a href="https://juancoder.com"
                    target="_blank">Juancode IT Solutions</a></span> -->
        </div><!-- container -->
    </div><!-- az-footer -->

</div><!-- az-content-body -->
<style>
    .book-details {
        padding: 9px;
        font-size: 14px;
        font-weight: 600;
        display: flex;
        flex-direction: column;
    }

    .book-desc {
        font-size: 11px;
        font-weight: 500;
    }

    .book-ratings {
        font-size: 12px;
    }

    #search_books {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .hoverBook:hover > .hoverDt {
        background-color: #0000002e;
    }
</style>
<script type="text/javascript">
    loadRecommendations({{user.id}});

    function searchForBook() {
        loadRecommendations({{user.id}});
    }

    function loadRecommendations(user_id){
        var book_search = $("#search_bar").val();
        var filter_category = $("#category").val();
        fetch("/opac", {
            method: "POST",
            body: JSON.stringify({ user_id: user_id, book_search: book_search, filter_category: filter_category })
        })
        .then(data => data.json())
        .then(json => {
            var books = "";
            for (var i = 0; i < json.data.length; i++) {
                const book_row = json.data[i];
                var cover = book_row.book_cover_img == "" ? "/static/assets/img/default_book_cover.jpg" :book_row.book_cover_img;

                books += '<div class="col-md-3 mt-2 d-flex hoverBook"><img src="'+cover+'" style="border-radius: 3px;height: 100%; width: 112px; object-fit: fill;"><div class="bd rounded hoverDt" style="width: 100%;"><div class="book-details"><span>'+book_row.book_title+'</span><span class="book-desc">'+book_row.book_author+' ('+book_row.book_year_published+')</span><span class="book-desc">'+book_row.book_location+'</span><span class="book-desc">Borrows: '+book_row.borrows+'</span><span class="book-desc">On shelf: '+book_row.onshelf+'</span><div class="book-ratings mt-3"><span class="badge badge-secondary" style="font-size: 11px; font-weight: 400;">'+book_row.book_category+'</span></div></div></div></div>';
            }
            $("#recommended_books").html(books);
        });
    }
</script>
{% endblock %}