{% extends "base.html" %}
{% block title %}Profile{% endblock %}

{% block content %}
<style>
    div#table1_filter {
        float: right;
    }
</style>
<div class="az-content-body pd-lg d-flex flex-column">
    <div class="az-content-breadcrumb">
        <span>Dashboard</span>
        <span>Profile</span>
    </div>
    <h2 class="az-content-title">Personal Info</h2>


    {% include "response.html" %}

    <div class="card card-dashboard-five mb-3">
        <div class="card-body">
            <form class="form form-horizontal" method="POST">
                <input type="hidden" value="{{ user.id }}" name="user_id">
                <div class="form-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label>First Name <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" name="fname" id="first-name"
                                    placeholder="First Name" value="{{ user.fname }}" required autocomplete="off" />
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label>Middle Name <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" name="mname" id="middle-name"
                                    placeholder="Middle Name" value="{{ user.mname }}" required autocomplete="off" />
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label>Last Name <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" name="lname" id="last-name"
                                    placeholder="Last Name" value="{{ user.lname }}" required autocomplete="off" />
                            </div>
                        </div>
                        <div class="col-sm-12 d-flex justify-content-end">
                            <button type="submit" class="btn btn-primary me-1 mb-1">Save Changes</button>
                        </div>
                    </div>
                </div>
            </form>
        </div><!-- card-body -->
    </div>


    <div class="az-footer mg-t-auto">
        <div class="container">
            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © LMS</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"><a href="https://juancoder.com"
                    target="_blank">Juancode IT Solutions</a></span>
        </div><!-- container -->
    </div><!-- az-footer -->
</div><!-- az-content-body -->
{% endblock %}